{layout name="layout" /}
<section id="content">

    <div class="page page-fullwidth-layout">

        <div class="pageheader">

            <h2>{$data.module_name}</h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="{:url('/admin')}"><i class="fa fa-home"></i> 起始页</a>
                    </li>
                    <li>
                        <a href="{:url($data.module_url)}">{$data.module_name}列表</a>
                    </li>
                </ul>

            </div>

        </div>

        <!-- page content -->
        <div class="pagecontent">

            <!-- row -->
            <div class="row">
                <!-- col -->
                <div class="col-md-12">




                    <!-- tile -->
                    <section class="tile">

                        <!-- tile header -->
                        <div class="tile-header dvd dvd-btm">
                            <h1 class="custom-font"><strong>{$data.module_name}</strong> 列表</h1>
                            <ul class="controls">
                                <li><a href="{:url($data.module_url.'create')}"><i class="fa fa-plus mr-5"></i> 新增</a></li>
                            </ul>
                        </div>
                        <!-- /tile header -->

                        <!-- tile body -->
                        <div class="tile-body">
                           <div class="alert alert-info" style="display:none;">正在执行操作···</div>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-custom" id="products-list">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>姓名</th> 
                                            <th>头衔</th>
                                            <th style='padding-bottom:0px;'>
                                                <div class="col-xs-3" style='padding:8px 0px 0px 0px;width: 45px;'>类型
                                                </div>
                                                <div class="col-xs-6" style='padding:0px 0px 4px 0px;'>
                                                    <div class="form-group" style='margin-bottom: 0px;'>
                                                        <select  name="typeselect" class="form-control" onchange="self.location.href=options[selectedIndex].value" style="max-width: 300px;">
                                                                    <option {if !strcmp($data['type_select'],'all')} selected="selected"{/if}
                                                                        value="{:url($data.module_url.'all')}">全部</option>
                                                                    <option {if !strcmp((string)($data['type_select']),'0')} selected="selected"{/if}
                                                                        value="{:url($data.module_url.'0')}">核心团队</option>
                                                                    <option {if $data['type_select'] == 1} selected="selected"{/if}
                                                                        value="{:url($data.module_url.'1')}">顾问团队</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>                                        
                                        {if($list)}
                                            {foreach $list as $item)}
                                                <tr id="tr_{$item->id}">
                                                <td>{$item->id}</td> 
                                                <td>{$item->name}</td>
                                                <td>{$item->title}</td>
                                                <?php $typename = array(0=>'核心团队', 1=> '顾问团队')?>
                                                <td>{$typename[$item['type']]}</td>                                             
                                                <td>
                                                    <a class="btn btn-info" href="{:url($data.module_url.'read_team'.'/'.$item->id)}">
                                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                                        编辑
                                                    </a>
                                                    <a class="btn btn-danger" href="javascript:;"  onclick="if(confirm('确定要删除该成员吗？')){ deleteData({$item->id}) }">
                                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                                        删除
                                                    </a>

                                                </td>
                                            </tr>
                                            {/foreach}
                                        {/if}
                                    </tbody>
                                </table>
                            </div>

                           {if (!count($list))}<div id="nobject" style="text-align:center;margin-top:15px;">暂无成员！</div>{/if}
                            <div class="text-center">{$list->render()}</div>
                        </div>
                        <!-- /tile body -->

                    </section>
                    <!-- /tile -->

                </div>
                <!-- /col -->
            </div>
            <!-- /row -->




        </div>
        <!-- /page content -->
        <script type="text/javascript">
        function deleteData(id){
            $.ajax({
                type:"POST",
                url:"{$data.module_url}delete_mem/"+id,
                success:function(data){                 
                    if(data.error == 0){
                        //$('#tr_'+data.id).remove();
                        //refresh(); 
                    }
                    $('.alert').html(data.msg).show();
                    setTimeout(function() {
                        $('.alert').hide();
                        window.location.reload(); 
                    }, 1500);                   
                }
            });
            
        }

        function updateExpireTime(id){
            //console.log($etype);
            $.ajax({
                type:"POST",
                //url:'/admin/exam/updatestatus/'+id,
                url:"{:url($data.module_url.'updatestatus')}/"+id,
                success:function(data){
                    if(data.error == 0){
                        //$('#tr_'+data.id+' .expire_time').html(data.expire_time);
                    }
                    $('.alert').html(data.msg).show();
                    setTimeout(function() {
                        $('.alert').hide();
                        window.location.reload(); 
                    }, 1500);                   
                }
            });                 
        }
        </script>

    </div>

</section>
<!--/ CONTENT -->

