{layout name="layout" /}
<section id="content">

    <div class="page page-fullwidth-layout">

        <div class="pageheader">

            <h2>{$data.module_name}</h2>

            <div class="page-bar">

                <ul class="page-breadcrumb">
                    <li>
                        <a href="{:url('/admin')}"><i class="fa fa-home"></i> 起始页</a>
                    </li>
                    <li>
                        {$data.module_name}
                    </li>

                </ul>

            </div>

        </div>

        <div class="pagecontent">



            <div class="add-nav">

                <!-- row -->
                <div class="row">
                    <!-- col -->
                    <div class="col-md-12">


                        <!-- tile -->
                        <section class="tile">

                            <!-- tile body -->
                            <div class="tile-body">

                                <form role="form" enctype="multipart/form-data" action="{:url($data.module_url.'confirm'.'/'.$item->id)}" method="post">
                                    {include file="custom-fields" /}
                                </form>
                                {if !strcmp($item['status'],'待处理')}<a href ="{:url($data.module_url.'confirm_subscribe/'.$item->id)}" class="btn btn-lg btn-primary"><i class="glyphicon glyphicon-ok"></i>&nbsp;标记为已处理</a>{/if}
                                <a href ="{:url($data.module_url.'/subscribemng/all')}" class="btn btn-lg btn-primary" ><i class="fa fa-chevron-left"></i>&nbsp;返回</a>
                            </div>
                            <!-- /tile body -->

                        </section>
                        <!-- /tile -->
                    </div>
                </div>
            </div>



        </div>

    </div>

</section>
<!--/ CONTENT -->

