{layout name="layout" /}

<!-- banner start -->
<!-- ================ -->
<div class="banner">

	<!-- slideshow start -->
	<!-- ================ -->
	<div class="slideshow white-bg">

		<!-- slider revolution start -->
		<!-- ================ -->
		<div class="slider-revolution-5-container">
			<div class="slider-banner-fullscreen-2 rev_slider" data-version="5.0">
				<ul class="slides">
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1" data-thumb={$item['banner1_img']}>

					<!-- main image -->
					<img src={:str_replace('_thumb', '', $item['banner1_img'])}  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

					<!-- Translucent background -->
					<div class="tp-caption light-translucent-bg"
						data-x="center"
						data-y="bottom"
						data-start="800"
						data-transform_idle="o:0.6;"
						data-transform_in="o:0;s:800;e:Power2.easeInOut;"
						data-transform_out="o:0;s:800;"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						style="background-color:rgba(255,255,255,0.3);">
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text black tp-resizeme"
						data-x="center"
						data-y="70"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="white-space: nowrap;font-size:50px">{:ldf($item['banner1_txt1'],$item['banner1_txt1_en'])}
					</div>
					<div class="tp-caption very_large_text black tp-resizeme"
						data-x="center"
						data-y="140"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="white-space: nowrap;">{:ldf($item['banner1_txt2'],$item['banner1_txt2_en'])}
					</div>
					<!-- LAYER NR. 2 -->
					<div class="tp-caption small_thin_dark tp-resizeme"
						data-x="center"
						data-y="210"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						data-textAlign="['center', 'center', 'center', 'center']"
						style="white-space: nowrap;">{:ldf($item['banner1_txt3'],$item['banner1_txt3_en'])}
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme"
						data-x="center"
						data-y="390"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-textAlign="['center', 'center', 'center', 'center']"
						data-responsive_offset="on"><a href="#welcomeBW" class="btn btn-dark btn-lg">Read More <i class="fa fa-angle-double-right pl-10"></i></a>
					</div>

					</li>
					<!-- slide 1 end -->

					<!-- slide 2 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2" data-thumb={$item['banner2_img']}>

					<!-- main image -->
					<img src={:str_replace('_thumb', '', $item['banner2_img'])}  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

					<!-- Translucent background -->
					<div class="tp-caption light-translucent-bg"
						data-x="center"
						data-y="bottom"
						data-start="800"
						data-transform_idle="o:0.6;"
						data-transform_in="o:0;s:800;e:Power2.easeInOut;"
						data-transform_out="o:0;s:800;"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						style="background-color:rgba(255,255,255,0.3);">
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text black tp-resizeme"
						data-x="center"
						data-y="70"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="white-space: nowrap;">{:ldf($item['banner2_txt1'],$item['banner2_txt1_en'])}
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption small_thin_dark tp-resizeme"
						data-x="center"
						data-y="170"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						data-textAlign="['center', 'center', 'center', 'center']"
						style="white-space: nowrap;">{:ldf($item['banner2_txt2'],$item['banner2_txt2_en'])}
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme"
						data-x="center"
						data-y="350"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-textAlign="['center', 'center', 'center', 'center']"
						data-responsive_offset="on"><a href="#welcomeBW" class="btn btn-dark btn-lg">Read More <i class="fa fa-angle-double-right pl-10"></i></a>
					</div>

					</li>
					<!-- slide 2 end -->

					<!-- slide 3 start -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide3" data-thumb={$item['banner3_img']}>

					<!-- main image -->
					<img src={:str_replace('_thumb', '', $item['banner3_img'])}  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

					<!-- Translucent background -->
					<div class="tp-caption light-translucent-bg"
						data-x="center"
						data-y="bottom"
						data-start="800"
						data-transform_idle="o:0.6;"
						data-transform_in="o:0;s:800;e:Power2.easeInOut;"
						data-transform_out="o:0;s:800;"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						style="background-color:rgba(255,255,255,0.3);">
					</div>

					<!-- LAYER NR. 1 -->
					<div class="tp-caption very_large_text black tp-resizeme"
						data-x="center"
						data-y="70"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						style="white-space: nowrap;">{:ldf($item['banner3_txt1'],$item['banner3_txt1_en'])}
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption small_thin_dark tp-resizeme"
						data-x="center"
						data-y="170"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
						data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on"
						data-textAlign="['center', 'center', 'center', 'center']"
						style="white-space: nowrap;">{:ldf($item['banner3_txt2'],$item['banner3_txt2_en'])}
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption tp-resizeme"
						data-x="center"
						data-y="350"
						data-width="['auto','auto','auto','auto']"
						data-height="['auto','auto','auto','auto']"
						data-transform_idle="o:1;"
			            data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
						data-start="800"
						data-splitin="none"
						data-splitout="none"
						data-textAlign="['center', 'center', 'center', 'center']"
						data-responsive_offset="on"
						><a href="#welcomeBW" class="btn btn-dark btn-lg" style = "border-color:#f6f6f6;">Read More <i class="fa fa-angle-double-right pl-10 "></i></a>
					</div>

					</li>
					<!-- banner 3 end -->
				</ul>
			</div>
		</div>
		<!-- slider revolution end -->

	</div>
	<!-- slideshow end -->

</div>
<!-- banner end -->

<!-- page-top start-->
<!-- ================ -->
<div class="page-top object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center title">{:ldf('服务与特性','Service and Features')}</h1>
				<div class="separator"></div>
				<p class="text-center">{:ldf($item['featintro'],$item['featintro_en'])}
				<?php $tsplit = explode("+",$item['featitle']); $csplit = explode("+",$item['featcon']);?>
				<?php $tsplit_en = explode("+",$item['featitle_en']); $csplit_en = explode("+",$item['featcon_en']);?>
				<div class="row grid-space-20">
					<div class="col-sm-12 col-md-4 col-md-push-4">
						<img src="__PUBLIC__/images/section-image-5.png" alt="" class="object-non-visible" data-animation-effect="fadeInUp" data-effect-delay="0">
					</div>
					<div class="col-sm-6 col-md-4 col-md-pull-4">
						<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
							<div class="icon-container default-bg">
								<i class="fa fa-thumbs-up"></i>
							</div>
							<div class="body">
								<h2>{:ldf($tsplit[0], $tsplit_en[0])}</h2>
								<p>{:ldf($csplit[1], $csplit_en[1])}</p>
								<a href="#" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
							<div class="icon-container default-bg">
								<i class="fa fa-list"></i>
							</div>
							<div class="body">
								<h2>{:ldf($tsplit[1], $tsplit_en[1])}</h2>
								<p>{:ldf($csplit[2], $csplit_en[2])}</p>
								<a href="#" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="box-style-3 right object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
							<div class="icon-container default-bg">
								<i class="fa fa-link"></i>
							</div>
							<div class="body">
								<h2>{:ldf($tsplit[2], $tsplit_en[2])}</h2>
								<p>{:ldf($csplit[3], $csplit_en[3])}</p>
								<a href="#" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
							<div class="icon-container default-bg">
								<i class="fa fa-balance-scale"></i>
							</div>
							<div class="body">
								<h2>{:ldf($tsplit[3], $tsplit_en[3])}</h2>
								<p>{:ldf($csplit[4], $csplit_en[4])}</p>
								<a href="#" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
							<div class="icon-container default-bg">
								<i class="fa fa-group"></i>
							</div>
							<div class="body">
								<h2>{:ldf($tsplit[4], $tsplit_en[4])}</h2>
								<p>{:ldf($csplit[4], $csplit_en[4])}</p>
								<a href="#" class="link"><span>Read More</span></a>
							</div>
						</div>
						<div class="box-style-3 object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
							<div class="icon-container default-bg">
								<i class="fa fa-search"></i>
							</div>
							<div class="body">
								<h2>{:ldf($tsplit[5], $tsplit_en[5])}</h2>
								<p>{:ldf($csplit[5], $csplit_en[5])}</p>
								<a href="#" class="link"><span>Read More</span></a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<!-- page-top end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container default-bg" id = "welcomeBW">

	<!-- main start -->
	<!-- ================ -->
	<div class="main">
		<div class="container">
			<div class="call-to-action">
				<div class="row">
					<div class="col-md-8">
						<h1 class="title text-center">欢迎来到舌尖美食链<br>Welcome to BITEOFWORLD</h1>
					</div>
					<div class="col-md-4">
						<div class="text-center">
							<a href="/contact.html" class="btn btn-white btn-lg">{:ldf('联系我们','Contact us')}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- main end -->

</section>
<!-- main-container end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
	<div class="container">
		<h1 class="text-center">{:ldf('舌尖美食链简介','Introduction of BITEOFWORLD')}</h1>
		<div class="separator"></div>
		<p class="lead text-center">{:ldf($item['aboutus'],$item['aboutus_en'])}</p>
		<br>
		<div class="row">
			<div class="col-md-6">
				<img src="__PUBLIC__/images/section-image-4.png" alt="">
				<div class="space hidden-md hidden-lg"></div>
			</div>
			<div class="col-md-6">
				{:ldf($item['aboutintro'],$item['aboutintro_en'])}
				<a href="__PUBLIC__/file/BITEOFWORLD_white_paper.pdf" target="_blank" class="btn btn-lg btn-default">{:ldf('白皮书','White paper')}</a>
			</div>
		</div>
	</div>
</div>
<!-- section end -->
<!-- ================  -->
<div class="section gray-bg clearfix object-non-visible parallax-bg-4" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
	<div class="container">

		<h1 class="page-title text-center"  style = "color:#fff">{:ldf('事件/里程碑','Events')}</h1>
				<div class="separator"></div>
				<!-- page-title end -->				
				<?php $eventime = explode("+",$item['event_time']); ?>
				<div class="row">
					<div class="col-md-6">
						<div class="box-style-3 left animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-registered"></i>
							</div>
							<div class="body">
								<h2 style = "color:#fff">{$eventime[0]}</h2>
								<p style = "color:#ddd">{:ldf($item['event1'],$item['event1_en'])}</p>
							</div>
						</div>
						<div class="box-style-3 left animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-newspaper-o"></i>
							</div>
							<div class="body">
								<h2 style = "color:#fff">{$eventime[1]}</h2>
								<p style = "color:#ddd">{:ldf($item['event2'],$item['event2_en'])}</p>
							</div>
						</div>
						<div class="box-style-3 left animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<div class="body">
								<h2 style = "color:#fff">{$eventime[2]}</h2>
								<p style = "color:#ddd">{:ldf($item['event3'],$item['event3_en'])}</p>
							</div>
						</div>

						<div class="box-style-3 left animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-heart"></i>
							</div>
							<div class="body">
								<h2 style = "color:#fff">{$eventime[3]}</h2>
								<p style = "color:#ddd">{:ldf($item['event4'],$item['event4_en'])}</p>
							</div>
						</div>
						<div class="box-style-3 left animated fadeInUpSmall">
							<div class="icon-container default-bg">
								<i class="fa fa-bitcoin"></i>
							</div>
							<div class="body">
								<h2 style = "color:#fff">{$eventime[4]}</h2>
								<p style = "color:#ddd">{:ldf($item['event5'],$item['event5_en'])}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="space"></div>
	</div>
</div>

<!-- section start -->
<!-- ================<div class="section gray-bg clearfix object-non-visible"  -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
	<div class="container">

		<h1>{:ldf('核心团队','Core Team')}</h1>
		<div class="separator-2"></div>

		<div class="row grid-space-20">
			{foreach $team['core'] as $tc} 
				<div class="col-lg-20 col-md-12">
					<div class="image-box team-member option-3">
						<div class="overlay-container"  style = "width: 35%;">
							<img src="{:str_replace('_thumb', '', $tc['pic'])}" alt="" style = "height: 300px;">
							<div class="overlay">
								<ul class="social-links colored clearfix">
									<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
									<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
									<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="image-box-body" style = "width: 60%;">
							<h3 class="title">{$tc['name']}</h3>
							<small>{:ldf($tc['title'],$tc['title_en'])}</small>
							<div class="separator-2"></div>
								{$tc['experi']}
							<ul class="list-unstyled" style = "margin-bottom: 0;">
								<li><i class="fa fa-id-card pr-10"></i><a href="mailto:">了解更多</a></li>
							</ul>
						</div>
					</div>
				</div>
			{/foreach}
		</div>
		<div class="space"></div>
	</div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg clearfix">
	<div class="container">

		<h1>{:ldf('顾问团队','Consultant Tteam')}</h1>
		<div class="separator-2"></div>

		<div class="row grid-space-20">
			{foreach $team['assi'] as $as} 
				<div class="col-sm-4">
					<div class="image-box team-member white-bg" style = 'height:615px;'>
						<div class="overlay-container">
							<img src="{:str_replace('_thumb', '', $as['pic'])}" alt="">
							<a href="#" class="overlay small">
								<i class="fa fa-link"></i>
								<span style="font-size:20px">read more</span>
							</a>
						</div>
						<div class="image-box-body">
							<h3 class="title">{$as['name']}</h3>
							<div class="separator-2"></div>
							{$as['experi']}
						</div>
					</div>
				</div>
			{/foreach}		
		</div>
		<div class="space"></div>
	</div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="parallax parallax-bg-3 dark-translucent-bg object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">

	<div class="container">
		<div class="stats row grid-space-10">
			<div class="col-md-3 col-sm-6">
				<div class="box-style-1">
					<h2 class="title">{:ldf('线上粉丝','Online Fans')}</h2>
					<i class="fa fa-users"></i>
					<span class="stat-num" data-to="21" data-speed="3000">0</span><span class="stat-num">万</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-style-1">
					<h2 class="title">{:ldf('天使轮估值','angel rounds valuation')}</h2>
					<i class="fa fa-gavel"></i>
					<span class="stat-num" data-to="250" data-speed="3000">0</span><span class="stat-num">万</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-style-1">
					<h2 class="title">{:ldf('人群覆盖率','Population Covers')}</h2>
					<i class="fa fa-pie-chart"></i>
					<span class="stat-num" data-to="60" data-speed="3000">0</span><span class="stat-num">%</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-style-1">
					<h2 class="title">{:ldf('线下报刊发行','Offline Publication')}</h2>
					<i class="fa fa-newspaper-o"></i>
					<span class="stat-num" data-to="23" data-speed="3000">0</span><span class="stat-num">万</span>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section gray-bg text-muted footer-top clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-6" style = "width:70%" >
				<div class="owl-carousel clients">
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-1.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-2.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-3.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-4.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-5.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-6.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-7.png" alt=""></a>
					</div>
					<div class="client">
						<a href="#"><img src="__PUBLIC__/images/client-8.png" alt=""></a>
					</div>
				</div>
			</div>
			<div class="col-md-6" style = "width:30%">							
				<p class="margin-clear"><img src="__PUBLIC__/images/corporation.png" alt=""></p>							
			</div>
		</div>
	</div>
</div>
<!-- section end -->			
