{layout name="layout" /}
<!-- header end -->

<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
					<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
					<li class="active">常见问题</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!-- page-intro end -->

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="row">

			<!-- sidebar start -->
			<aside class="col-md-3">
				<div class="sidebar">
					<div class="block clearfix">
						<h3 class="title">提交问题</h3>
						<div class="separator"></div>
						<div class="alert alert-success hidden" id="MessageSent3">
							We have received your message, we will contact you very soon.
						</div>
						<div class="alert alert-danger hidden" id="MessageNotSent3">
							Oops! Something went wrong please refresh the page and try again.
						</div>
						<form role="form" id="sidebar-form">
							<div class="form-group has-feedback">
								<label for="name3">姓名</label>
								<input type="text" class="form-control" id="name3" placeholder="请输入您的姓名" name="name3">
								<i class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label for="email3">Email</label>
								<input type="email" class="form-control" id="email3" placeholder="请输入您的 email" name="email3">
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group">
								<label>分类</label>
								<select class="form-control" id="category">
									<option value="Sales">产品</option>
									<option value="Support">支持</option>
									<option value="Lorem">其他</option>
								</select>
							</div>
							<div class="form-group has-feedback">
								<label for="message3">问题</label>
								<textarea class="form-control" rows="4" id="message3" placeholder="" name="message3"></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<input type="submit" value="提交" class="submit-button btn btn-default">
						</form>
					</div>
				</div>
			</aside>
			<!-- sidebar end -->

			<!-- main start -->
			<!-- ================ -->
			<div class="main col-md-9">

				<!-- page-title start -->
				<!-- ================ -->
				<h1 class="page-title">常见问题</h1>
				<p>查看常见问题或者通过左侧窗口进行提问，我们会尽快给您答复。</p>
				<!-- page-title end -->

				<!-- tabs start -->
				<div class="tabs-style-2">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#tab1" role="tab" data-toggle="tab"><i class="fa  fa-life-saver pr-10"></i>舌尖美食链</a></li>
						<li><a href="#tab2" role="tab" data-toggle="tab"><i class="fa fa-user pr-10"></i>产品</a></li>
						<li><a href="#tab3" role="tab" data-toggle="tab"><i class="fa fa-star pr-10"></i>其他</a></li>
					</ul>
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab1">
							<!-- accordion start -->
							<div class="panel-group" id="accordion-faq">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseOne" class="collapsed">
												<i class="fa fa-question-circle pr-10"></i> 如今饮食领域存在什么样的问题？
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse">
										<div class="panel-body">
											1）食品及饮食安全堪忧。长期以来食品安全问题是人们最关心的问题，尤其是食品监管不完善的国家，食品监管措施的短缺以及舞弊行为泛滥，让食品安全难以得到保障。<br>
											2）饮食品鉴不透明。如今餐饮行业中，专业品鉴机构的评比标准多不公开，且集中在少数评委手中。而大众化的品鉴平台，大众虽然有参与评鉴，但水平层次不齐，且商家可以通过竞价篡改排名，失去了品鉴的初衷。<br>
											3）饮食结构不科学。现代人越来越讲究营养均衡，但是如何做到合理饮食，如何搭配？书本只能讲述普世规律，却无法针对每个人的具体情况对症下药。而因人制定饮食结构，也存在着难度。<br>
											4）稀缺产品以次充好泛滥。对于很多稀缺或制作周期较长的产品品相，往往市面上的存货量远大于实际产品，以次充好，甚至假冒现象严重。对于大众来讲辨别这些产品真伪的难度和成本较大。<br>
										</div>
									</div>
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseTwo" class="collapsed">
												<i class="fa fa-question-circle pr-10"></i> 区块链介入饮食生态的优势?
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse">
										<div class="panel-body">
											1）消除中心化节点的信用风险。现有的中心化节点意味着无论是餐饮集团还是品鉴平台都可能对用户数据的存储、使用和安全等方面承担巨大的信用风险，但区块链的分布式共识算大能够极大地消除中心节点带来的风险。<br>
											2）更加高效且有效的社区生态。高商业复杂性的中心化平台成本高昂、效率低下，虽然饮食结构相关产业越来越完善，但是与人们日常饮食生活的关联依旧薄弱。而共识机制下的token 经济形态，将商家与消费者点对点关联，让饮食生态的所有参与者自主维护社区。<br>
											3）让产品有源可溯。通过区块链的分布式记账系统可完整的记录产品从原产地到终端的所有数据，同时确保各个节点数据不被篡改，有源可溯。<br>
										</div>
									</div>											
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseThree" class="collapsed">
												<i class="fa fa-question-circle pr-10"></i> 舌尖美食链可以做什么?
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse">
										<div class="panel-body">
											1）饮食品鉴。BITEOFWORLD 饮食生态将商家和消费者点对点关联，消费者根据自己的真实感受如实评价，真实有效且高质量的评价会获得不同比例的 BITEOFWORLD COIN(BOW)奖励，消费者可以使用 BOW 购买或换购商家的产品。同样也可以用 BOW 打赏餐厅、菜品或服务人员。因为 BOW 本身具有价值，而 BOW 的价值取决于 BWO 的流通性和 BITEOFWORLD 社群的健康性，所以所有 BITEOFWORLD 饮食生态社群参与者都将积极的维护生态圈的健康发展，从而形成一个真实、有效和健康的评鉴生态圈。<br>
											2）DNA 饮食。BITEOFWORLD 的原理是通过记录食客每日的饮食习惯，通过一定的数据积累，总结出食客的饮食画像，在饭点时，根据食客所在的地区、身体状况天气状况等因素推荐最佳餐厅，同时根据餐厅信息，推荐菜品。<br>
											3）食品溯源。BITEOFWORLD 通过区块链的分布式记账系统可完整的记录产品从原产地到终端的所有数据，同时确保各个节点数据不被篡改，有源可溯。从而实现将生产环境、食品是否有相关安全认证等信息公开化，一旦食品的各个环节在共识机制下可见，就会促使每个环节从业者的自律。<br>
										</div>
									</div>											
								</div>

								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion-faq" href="#collapseFour" class="collapsed">
												<i class="fa fa-question-circle pr-10"></i> 舌尖美食链中的角色分配?
											</a>
										</h4>
									</div>
									<div id="collapseFour" class="panel-collapse collapse">
										<div class="panel-body">
											 BITEOFWORLD 饮食生态中，主要分为消费者、餐饮商家、餐饮供应商和饮食数据提供商。通过 BITEOFWORLD，消除饮食环节背后的种种黑幕，并最终通过互相协同来实现生态健康发展。一个完善的饮食生态应该让所有利益相关者的权益都得到保障。BITEOFWORLD 将致力于打造这样的饮食生态。<br>
										</div>
									</div>											
								</div>

							</div>
							<!-- accordion end -->
						</div>
						<div class="tab-pane fade" id="tab2">
							<!-- accordion start -->
							<div class="panel-group" id="accordion-faq-2">
								目前还没有提问!
							</div>
							<!-- accordion end -->
						</div>
						<div class="tab-pane fade" id="tab3">
							<!-- accordion start -->
							<div class="panel-group" id="accordion-faq-3">
								目前还没有提问!
							</div>
							<!-- accordion end -->
						</div>
					</div>
				</div>
				<!-- tabs end -->
			</div>
			<!-- main end -->

		</div>
	</div>
</section>
<!-- main-container end -->
